---
import "../styles/global.css";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import SiteHeader from "../components/SiteHeader.astro";

type Props = {
  title?: string;
  description?: string;
  class?: string;
  showProfiles?: boolean;
  og?: { key?: string; value?: string }[];
};

const title = Astro.props.title
  ? `${Astro.props.title} | ${SITE_TITLE}`
  : SITE_TITLE;

const description = Astro.props.description || SITE_DESCRIPTION;
const className = Astro.props.class;
const openGraphProperties = Astro.props.og;
const { showProfiles } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    {
      openGraphProperties?.map((item) => (
        <meta property={item.key} content={item.value} />
      ))
    }
  </head>
  <body
    class={`w-full m-auto min-h-screen border-neutral-300 dark:border-neutral-700 sm:border-x-2 ` +
      className}
  >
    <SiteHeader showProfiles={showProfiles} />
    <main class="px-4 pb-20">
      <slot />
    </main>
  </body>
</html>
